body 
{
    font-family:'Times New Roman', Times, serif ;
    font-size: larger;
    margin: 0;
    padding: 0;
    background-color: #161111;
    color: #161111;
}

header {
    background-color:  #fcb902;
    color: black;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    color: #161111;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    
}

nav ul li a {
    color: #161111;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffffe8;
    border-radius: 8px;
}

section h2 {
    color: black;
}

.ImagemTexto {
    text-align: center; /* Centraliza a imagem horizontalmente */
}

.ImagemTexto img {
    height: 400px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
form input, 
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
}
form textarea{
    resize:none;
    border-style: inset;
    border-radius: 8px;
    border-width: 2px;
    height:150px ;
}
form button{
    background-color:   #161111;
    color: white;
    border: none;
    cursor: pointer;
    width: 340px;
    border-radius: 8px;
    
}
form button:hover{
    background-color: #fcb902;
}
input:focus, textarea:focus{
    outline-color: #fcb902;
}
